/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #contact .link{
        display: flex;
    }
    #contact .link ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}